In [1]:
import datetime
import csv
import pandas as pd
import numpy as np

In [2]:
data_file = 'rpi_data_long.csv'

In [3]:
column_names = ['Type A', 'Measure A', 'Units A', 'Type B', 'Measure B', 'Units B', 'Type C', 'Measure C', 'Units C', 'Datetime']

In [4]:
with open(data_file, 'r') as f:
    df_redundant = pd.read_csv(f, names = column_names)

In [5]:
df_redundant.head()

,Type A,Measure A,Units A,Type B,Measure B,Units B,Type C,Measure C,Units C,Datetime
0,Ping:,26.992,ms,Download:,91.80,Mbit/s,Upload:,14.31,Mbit/s,2016-11-24 13:36:25
1,Ping:,24.532,ms,Download:,88.19,Mbit/s,Upload:,14.12,Mbit/s,2016-11-24 13:36:55
2,Ping:,20.225,ms,Download:,59.86,Mbit/s,Upload:,14.11,Mbit/s,2016-11-24 13:37:25
3,Ping:,19.332,ms,Download:,91.81,Mbit/s,Upload:,14.22,Mbit/s,2016-11-24 13:37:57
4,Ping:,22.494,ms,Download:,92.05,Mbit/s,Upload:,14.08,Mbit/s,2016-11-24 13:38:27

In [6]:
df_compact = df_redundant.copy()

In [7]:
df_compact.rename(columns={'Measure A': 'Ping (ms)', 'Measure B': 'Download(Mbit/s)', 'Measure C': 'Upload (Mbit/s)'}, inplace=True)
df_compact.head(3)

,Type A,Ping (ms),Units A,Type B,Download(Mbit/s),Units B,Type C,Upload (Mbit/s),Units C,Datetime
0,Ping:,26.992,ms,Download:,91.80,Mbit/s,Upload:,14.31,Mbit/s,2016-11-24 13:36:25
1,Ping:,24.532,ms,Download:,88.19,Mbit/s,Upload:,14.12,Mbit/s,2016-11-24 13:36:55
2,Ping:,20.225,ms,Download:,59.86,Mbit/s,Upload:,14.11,Mbit/s,2016-11-24 13:37:25

In [8]:
df_compact.drop(['Type A', 'Type B', 'Type C', 'Units A', 'Units B', 'Units C'], axis=1,inplace=True)
df_compact.head()

  Ping (ms) Download(Mbit/s)  Upload (Mbit/s)             Datetime
0    26.992            91.80            14.31  2016-11-24 13:36:25
1    24.532            88.19            14.12  2016-11-24 13:36:55
2    20.225            59.86            14.11  2016-11-24 13:37:25
3    19.332            91.81            14.22  2016-11-24 13:37:57
4    22.494            92.05            14.08  2016-11-24 13:38:27

In [9]:
df_compact['Date'] = df_compact['Datetime'].apply(lambda dt_str: pd.to_datetime(dt_str).date())

In [10]:
#df_compact['Time'] = df_compact['Datetime'].apply(lambda dt_str: pd.to_datetime(dt_srt).time())

In [11]:
df_compact.drop(['Datetime'], axis=1,inplace=True)

In [12]:
df_compact.head(3)

  Ping (ms) Download(Mbit/s)  Upload (Mbit/s)        Date
0    26.992            91.80            14.31  2016-11-24
1    24.532            88.19            14.12  2016-11-24
2    20.225            59.86            14.11  2016-11-24

In [13]:
print(df_compact['Date'][0], type(df_compact['Date'][0]))
#print(df_compact['Time'][0], type(df_compact['Time'][0]))

2016-11-24 <class 'datetime.date'>

In [14]:
df_compact.to_csv('rpi_data_compact.csv')